<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/App/View/Source/Javascript/DisplayMoneyCurrency.js"></script>

    <script src="/App/View/Source/Javascript/DisplayCourseDate.js"></script>

    <script src="/App/View/Source/Javascript/DisplayNewsReleaseDate.js"></script>

    <title>Trung tâm anh ngữ Sunflower Center</title>
    <style>
        .divider{
            padding: 0 3px 0 3px;
        }
        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }

        .header-top a{
            color: #5cb85c;
        }

        .underline-header{
            width: 25%;
            border: 0;
            border-top: 4px solid rgba(0, 0, 0, 0.2);
        }
        .highlight-name{
            color: #5cb85c;
        }
        .round-avatar{
            padding: 2px;
            border: 2px solid #5cb85c;
        }
        .section2, .section4{
            background-color: #1164AA;
        }
        .header-title{
            color: white;
        }
        .header-title-hightlight{
            color: #1164AA;
        }
        .section2 .english-courses, .section4 .chinese-courses{
            padding: 15px 0px;
            background-color: #1164AA;
        }
        .section1 .korean-courses, .section5 .japanese-courses{
            padding: 15px 0px;
            background-color: white;
        }
        .section6{
            background-color: #F0F2F5;
        }
        .section6 .news-section{
            padding: 15px 0px;
        }
        .header-news-title{
            background-color: white;
        }

        footer{
            background-color: #2F2F2F;
            color: white;
        }

        footer .container .active{
            color: white;
        }
        footer .container p{
            color: gray;
        }
        
        footer .container a{
            color: gray;
        }

        footer .container p:hover{
            color: white;
        }
        footer .container a:hover{
            color: white;
        }

        footer .container .copyright p:hover{
            color: gray;
        }

    </style>

</head>
<body>
    <!--Header khi đã đăng nhập-->
    {% if fullname %}
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col" style="font-weight: bold;">Hotline: <span class="highlight-name">0379028110</span> <span class="divider">|</span> Email: <span class="highlight-name">sunflower@gmail.com</span></div>
                    <div class="col text-right" style="font-weight: bold;">
                        Xin chào <a href="/account/detail">{{fullname}}</a>
                        <span class="divider">|</span>
                        <a href="/account/logout">Đăng xuất</a>
                        <span class="divider">|</span>
                        <a href="/home/find">Tìm kiếm</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--Header khi chưa đăng nhập-->
    {% if not fullname %}
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col" style="font-weight: bold;">Hotline: <span class="highlight-name">0379028110</span> <span class="divider">|</span> Email: <span class="highlight-name">sunflower@gmail.com</span></div>
                    <div class="col text-right" style="font-weight: bold;">
                        <a href="/account/login">Đăng nhập</a>
                        <span class="divider">|</span>
                        <a href="/account/register">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#"><img src="/App/View/Source/Image/SunflowerLogo.png" alt="Logo" style="width:200px;height: 75px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/news/getnews">Tin tức</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/schedule/index">Thời khóa biểu</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Khóa học
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/course/searchcourse?course-name-input=&course-language=Tiếng Anh">Tiếng Anh</a>
                        <a class="dropdown-item" href="/course/searchcourse?course-name-input=&course-language=Tiếng Trung">Tiếng Trung</a>
                        <a class="dropdown-item" href="/course/searchcourse?course-name-input=&course-language=Tiếng Hàn">Tiếng Hàn</a>
                        <a class="dropdown-item" href="/course/searchcourse?course-name-input=&course-language=Tiếng Nhật">Tiếng Nhật</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--Carousel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" style="height: 400px;filter: brightness(0.55);" src="/App/View/Source/Image/banner-image-1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Sunflower Center trung tâm ngoại ngữ đáng tin cậy</h5>
                    <p>Sứ mệnh Trung Tâm Ngoại Ngữ Sunflower Flower là cung cấp các khóa đào tạo ngắn hạn và chuyên sâu nhằm hướng tới mục tiêu giúp 100.000 người Việt chinh phục được ngoại ngữ. Chúng tôi cam kết cung cấp cho học viên nền tảng ngoại ngữ vững chắc để sẵn sàng đối diện với những thử thách trên bước đường hội nhập quốc tế.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" style="height: 400px;filter: brightness(0.55);" src="/App/View/Source/Image/banner-image-2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cơ sở vật chất học tập cực tốt tại trung tâm Sunflower</h5>
                    <p>Phòng học được trang bị đầy đủ các trang thiết bị phục vụ cho công việc giảng dạy: máy chiếu, giáo cụ trực quan, áp dụng trực tiếp công nghệ vào việc giảng dạy để mang lại kết quả tốt nhất.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" style="height: 400px;filter: brightness(0.55);" src="https://bizweb.dktcdn.net/100/097/836/themes/121983/assets/slide-img.jpg?1614649365366" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Đến với chúng tôi sẽ giúp bạn bay xa hơn nữa</h5>
                    <p>Ở đây chúng tôi có hàng chục khóa học về giao tiếp cũng như luyện thi lấy các chứng chỉ quốc tế để du học đều có tại đây. Khi học tập tại trung tâm Sunflower bạn sẽ học được cách áp dụng ngoại ngữ vào cuộc sống của mình để tiến xa hơn nữa trên con đường học tập và làm việc.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Nhận xét về Sunflower Center-->
    <br>
    <div class="section1 text-center">
        <div class="container">
            <h2>Mọi người nghĩ gì về <span class="highlight-name text-success">Sunflower Center</span></h2>
            <hr class="underline-header">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle round-avatar" src="/App/View/Source/Image/KanhLinh.jpg" width="140" height="140">
                    <h2>Phạm Khánh Linh</h2>
                    <p style="color:gray;font-size: small;font-style: italic;">Đại học Tôn Đức Thắng - IELTS 8.5</p>
                    <p>Mục tiêu của mình khi đăng ký khóa học IELTS tại Sunflower Center là 8.0. Nhưng chỉ sau một khóa học đã giúp mình đạt được đến 8.5. Mình đánh giá Sunflower Center là cơ sở rất tốt để các bạn có mục tiêu du học như mình.</p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle round-avatar" src="/App/View/Source/Image/ThiHong.png" width="140" height="140">
                    <h2>Nguyễn Thị Hồng</h2>
                    <p style="color:gray;font-size: small;font-style: italic;">Đại học Luật - TOEIC 900</p>
                    <p>Đối với mình khóa học tại Sunflower Center đúng kiểu "mưa dầm thấm lâu", người học vừa chắc kiến thức, vừa tiếp thu nhanh mà lại có thời gian luyện tập những điều đã biết và trau dồi thêm những kiến thức mới.</p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle round-avatar" src="/App/View/Source/Image/CongManh.png" width="140" height="140">
                    <h2>Đinh Công Mạnh</h2>
                    <p style="color:gray;font-size: small;font-style: italic;">Cựu sinh viên Đại học Luật - PET 160</p>
                    <p>Đến với Sunflower Center thì Mạnh đã học được rất nhiều điều, đặc biệt là khả năng giao tiếp bằng tiếng anh tự tin hơn, vốn từ vựng sử dụng trong môi trường làm việc chuyên nghiệp hơn</p>
                </div>
            </div>
        </div>
    </div>
    <!--Khóa học tiếng Anh-->
    <br>
    <div class="section2">
        <div class="container english-courses">
            <h2 class="header-title">KHÓA HỌC TIẾNG ANH</h2>
            <div class="row">
                {% if englishCourse %}
                    {% for course in englishCourse %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{course.CourseImageAddress}}">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase">{{course.CourseName}}</h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-sm btn-primary">Đăng kí</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#course{{course.Id}}">Chi tiết</button>
                                        </div>
                                        <small class="text-muted"><script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal Detail-->
                        <div class="modal fade" id="course{{course.Id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{course.CourseName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img width="100%" src="{{course.CourseImageAddress}}">
                                    <p>{{course.CourseDescription}}</p>
                                    
                                    <p>
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Thời gian diễn ra khóa học: <script>displayCourseDate("{{course.StartDateCourse}}");</script> đến <script>displayCourseDate("{{course.EndDateCourse}}");</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Ca học: {{course.CourseTime}}
                                    </p>
                                    <p>
                                        <i class="fa fa-users" aria-hidden="true"></i> Lượt đăng ký: {{course.NumberStudentInCourse}}/{{course.CourseSlot}}
                                    </p>
                                    <p>
                                        <i class="fa fa-money" aria-hidden="true"></i> Học phí: <script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ: {{course.CourseLanguage}}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-primary">Đăng kí khóa học này</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!--Khóa học tiếng Hàn-->
    <br>
    <div class="section3">
        <div class="container korean-courses">
            <h2 class="header-title-hightlight">KHÓA HỌC TIẾNG HÀN</h2>
            <div class="row">
                {% if koreanCourse %}
                    {% for course in koreanCourse %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{course.CourseImageAddress}}">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase">{{course.CourseName}}</h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-sm btn-primary">Đăng kí</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#course{{course.Id}}">Chi tiết</button>
                                        </div>
                                        <small class="text-muted"><script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal Detail-->
                        <div class="modal fade" id="course{{course.Id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{course.CourseName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img width="100%" src="{{course.CourseImageAddress}}">
                                    <p>{{course.CourseDescription}}</p>
                                    
                                    <p>
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Thời gian diễn ra khóa học: <script>displayCourseDate("{{course.StartDateCourse}}");</script> đến <script>displayCourseDate("{{course.EndDateCourse}}");</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Ca học: {{course.CourseTime}}
                                    </p>
                                    <p>
                                        <i class="fa fa-users" aria-hidden="true"></i> Lượt đăng ký: {{course.NumberStudentInCourse}}/{{course.CourseSlot}}
                                    </p>
                                    <p>
                                        <i class="fa fa-money" aria-hidden="true"></i> Học phí: <script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ: {{course.CourseLanguage}}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-primary">Đăng kí khóa học này</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--Khóa học tiếng Trung-->
    <div class="section4">
        <div class="container chinese-courses">
            <h2 class="header-title">KHÓA HỌC TIẾNG TRUNG</h2>
            <div class="row">
                {% if chineseCourse %}
                    {% for course in chineseCourse %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{course.CourseImageAddress}}">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase">{{course.CourseName}}</h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-sm btn-primary">Đăng kí</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#course{{course.Id}}">Chi tiết</button>
                                        </div>
                                        <small class="text-muted"><script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal Detail-->
                        <div class="modal fade" id="course{{course.Id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{course.CourseName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img width="100%" src="{{course.CourseImageAddress}}">
                                    <p>{{course.CourseDescription}}</p>
                                    
                                    <p>
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Thời gian diễn ra khóa học: <script>displayCourseDate("{{course.StartDateCourse}}");</script> đến <script>displayCourseDate("{{course.EndDateCourse}}");</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Ca học: {{course.CourseTime}}
                                    </p>
                                    <p>
                                        <i class="fa fa-users" aria-hidden="true"></i> Lượt đăng ký: {{course.NumberStudentInCourse}}/{{course.CourseSlot}}
                                    </p>
                                    <p>
                                        <i class="fa fa-money" aria-hidden="true"></i> Học phí: <script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ: {{course.CourseLanguage}}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-primary">Đăng kí khóa học này</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--Khóa học tiếng Nhật-->
    <br>
    <div class="section5">
        <div class="container japanese-courses">
            <h2 class="header-title-hightlight">KHÓA HỌC TIẾNG NHẬT</h2>
            <div class="row">
                {% if japaneseCourse %}
                    {% for course in japaneseCourse %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{course.CourseImageAddress}}">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase">{{course.CourseName}}</h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-sm btn-primary">Đăng kí</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#course{{course.Id}}">Chi tiết</button>
                                        </div>
                                        <small class="text-muted"><script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal Detail-->
                        <div class="modal fade" id="course{{course.Id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{course.CourseName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img width="100%" src="{{course.CourseImageAddress}}">
                                    <p>{{course.CourseDescription}}</p>
                                    
                                    <p>
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Thời gian diễn ra khóa học: <script>displayCourseDate("{{course.StartDateCourse}}");</script> đến <script>displayCourseDate("{{course.EndDateCourse}}");</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Ca học: {{course.CourseTime}}
                                    </p>
                                    <p>
                                        <i class="fa fa-users" aria-hidden="true"></i> Lượt đăng ký: {{course.NumberStudentInCourse}}/{{course.CourseSlot}}
                                    </p>
                                    <p>
                                        <i class="fa fa-money" aria-hidden="true"></i> Học phí: <script>displayMoneyCurrency(parseInt("{{course.CoursePrice}}"))</script>
                                    </p>
                                    <p>
                                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ: {{course.CourseLanguage}}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/course/coursebooking?id-course={{course.Id}}" class="btn btn-primary">Đăng kí khóa học này</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--Mục tin tức-->
    <div class="section6">
        <div class="container news-section">

            <div class="header-news-title shadow-sm">
                <h2 style="padding: 2px 0px;"><span style="color: white; background-color: #5cb85c; padding: 0px 7px;"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span><span>TIN TỨC</span></h2>
            </div>

            <div class="row">
                <div class="col-md-8">
                    {% if newsArray %}
                        {% for news in newsArray %}
                            <div class="card-deck">
                                <div class="card mb-4 shadow-sm d-flex flex-row news-card">
                                    <img src="{{news.NewsImageAddress}}" width="175px" height="fit-content">
                    
                                    <div class="card-body shadow">
                                        <b><p>{{news.NewsTitle}}</p></b>
                                        <p>{{news.NewsDescription}}</p>
                                        <a class="stretched-link" href="/news/getnewsdetail?id-news={{news.Id}}"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                

                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item bg-success text-white text-center">
                            <b>TIN ĐỀ XUẤT</b>
                        </li>
                        {% if recommendedNewsArray %}
                            {% for news in recommendedNewsArray %}
                                <a href="/news/getnewsdetail?id-news={{news.Id}}" class="list-group-item list-group-item-action d-flex">
                                    <img src="{{news.NewsImageAddress}}" width="100px" height="100px">
                                    <div class="ml-2">
                                        <b><p>{{news.NewsTitle}}</p></b>
                                        <small class="d-flex justify-content-between">
                                            <span><script>displayNewsReleaseDate("{{news.NewsReleaseDate}}")</script></span>
                                            <span style="padding-top: 5px;" class="badge badge-success">{{news.NewsCategory}}</span>
                                        </small>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                        <a href="/news/getnews" class="list-group-item list-group-item-action text-center text-success">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Xem tất cả tin tức
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="py-1 bg-success"></div>

    <!--Mục footer-->
    <footer class="pt-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="active">GIỚI THIỀU THÊM VỀ SUNFLOWER CENTER </p>
                    <p>Tầm nhìn</p>
                    <p>Giải thưởng</p>
                    <p>Tại sao nên chọn Sunflower Center</p>
                </div>
                <div class="col-md-4">
                    <p class="active">ĐỊA CHỈ LIỆN HỆ</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội - 0379028110</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hồ Chí Minh - 0379028110</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Cần Thơ - 0379028110</p>
                </div>
                <div class="col-md-4">
                    <img src="/App/View/Source/Image/LogoSaleNoti.png" height="65%" width="75%">
                </div>
            </div>

            <p class="active mt-3">THEO DÕI CHÚNG TÔI TẠI</p>
            <div class="row">
                <h3><a href="#" style="text-decoration: none;" class="col-md-3"><i class="fa fa-facebook" aria-hidden="true"></i></a></h3>
                <h3><a href="#" style="text-decoration: none;" class="col-md-3"><i class="fa fa-youtube-play" aria-hidden="true"> </i></a></h3>
                <h3><a href="#" style="text-decoration: none;" class="col-md-3"><i class="fa fa-instagram" aria-hidden="true"> </i></a></h3>
                <h3><a href="#" style="text-decoration: none;" class="col-md-3"><i class="fa fa-twitter" aria-hidden="true"> </i></a></h3>
            </div>

            <hr style="padding: 1px 0px; background-color: white;">
            <div class="copyright">
                <p>Copyright &copy;2021 by Công Ty Tnhh Giáo Dục Sunflower <br>
                MST: 0313187109 ngày cấp phép: 19/02/2021 <br>
                Trụ sở chính: 234 Bạch Đằng, Phường 24, Quận Bình Thạnh, TP.HCM</p>
            </div>
        </div>
    </footer>

</body>
</html>