<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Boostrap -->
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <title>Detail</title>
     <style>
          body{
               background-color: rgb(147, 218, 218);
          }

          h1{
              text-align: center;
              margin-bottom: 20px;
              margin-top: 20px;
              color:rgb(9, 24, 53);   
          }

         .bt{
               color:aliceblue;
               margin-left: 400px;
               margin-top: 30px;
          }
         
     </style>
</head>
<body>
     <div class="container">
          {% if message %}
               <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{message|raw}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
          {% endif %}

          <h1>Thông tin cá nhân</h1>

          {% if account %}
               <div class="row justify-content-center">
                    <div class="col-md-6">
                         <form action="/account/save" method="POST" enctype="multipart/form-data">
                              <table class="mt-3">
                                   <tr>
                                        <td>
                                             <div class="mr-4">
                                                  <img class="rounded-circle" src="{{account.AvatarURL}}" alt="avatar" id="avatar-img" style="width:250px;height: 250px;">
                                                  <div class="custom-file mt-3">
                                                       <input type="file" class="custom-file-input" id="customFile" name="avatar-image" accept="image/*" onchange="readURL(this)">
                                                       <label class="custom-file-label" for="customFile">Chọn ảnh đại diện...</label>
                                                  </div>
                                             </div>
                                        </td>
                                        <td>
                                             <div class="mt-2" style = "width: 350px;">
                                                  <div class="form-group">
                                                       <label for="fullname">Họ và tên</label>
                                                       <input class="form-control" type="text" value="{{account.Fullname}}" name="fullname">
                                                  </div>
                                                  <div class="form-group">
                                                       <label for="email">Email</label>
                                                       <input class="form-control" type="email" name="email" value="{{account.Email}}">
                                                  </div>
                                                  <div class="form-group">
                                                       <label for="date">Ngày sinh</label>
                                                       <input class="form-control" type="date" name="date" value = "{{account.DateOfBirth}}">
                                                  </div>
                                                  <button class="btn btn-info" type="submit">Lưu</button>
                                                  <button class="btn btn-info" type="reset">Reset</button>
                                             </div>
                                        </td>
                                   </tr>
                              </table>
                         </form>
                    </div>
               </div>
          {% endif %}

     </div>

     <script>
          function truncate(n, len) {
               var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase();
               var filename = n.replace('.' + ext,'');
               if(filename.length <= len) {
                    return n;
               }
               filename = filename.substr(0, len) + (n.length > len ? '[...]' : '');
               return filename + '.' + ext;
          };

          // Add the following code if you want the name of the file appear on select
          $(".custom-file-input").on("change", function() {
               var fileName = $(this).val().split("\\").pop();

               fileName = truncate(fileName, 10);

               $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });
     </script>

     <script>
          function readURL(input){
               if (input.files && input.files[0]) {
                    var reader = new FileReader();
          
                    reader.onload = function (e) {
                         $('#avatar-img')
                         .attr('src', e.target.result);
                    };
                   reader.readAsDataURL(input.files[0]);
               }
          }
     </script>
     
</body>
</html>