<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            background: #dbac76;
            
        }
        .card-signin{
            margin: auto;
            width: 50%;
        }
        .error-message{
            margin: 15px 0px;
            color: white;
            text-align: center;
            background-color: rgba(190, 33, 33, 0.897);
            border-radius: 6px;
        }
    </style>

    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                
                {% if errorMessage %}
                    <p class="error-message">{{errorMessage}}</p>
                {% endif %}

                <form action="/account/loginPost" method="POST">
                    <div class="form-group">
                        <label for="input-email">Tên đăng nhập</label>
                        <input name="username" type="username" class="form-control" placeholder="example" required autofocus>         
                    </div>
                    <div class="form-group">
                        <label for="input-password">Mật khẩu</label>
                        <input name="password" type="password" class="form-control" placeholder="Mậu khẩu có độ dài từ 6 đến 20" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>
                    <hr class="my-4">
                    <p class="text-center">Chưa có tài khoản ? <a href="/account/register">Đăng ký tài khoản mới</a></p>
                </form>
            </div>
        </div> 
        
    </div>
</body>
</html>